XSB/bin
XSB/build/*.cache
XSB/build/*.log
XSB/build/*.status
XSB/build/Installation*
XSB/build/makexsb
XSB/cmplib/ChangeLog
XSB/cmplib/cmd...
XSB/config
XSB/docs/techman/auto
XSB/docs/userman/auto
XSB/docs/userman/auto/*.el
XSB/docs/userman/odbc_man/auto
XSB/emu/ChangeLog
XSB/emu/MS_VC_Mfile.mak
XSB/emu/Makefile
XSB/emu/configs/config.h
XSB/emu/debugs/debug.h
XSB/emu/orastuff.c
XSB/emu/private_builtin.*
XSB/etc/config.msg
XSB/examples/*.O
XSB/examples/c_calling_XSB/*.O
XSB/examples/c_calling_XSB/*.o
XSB/examples/socket/*.O
XSB/lib/*.O
XSB/lib/cmd...
XSB/packages/*.O
XSB/packages/flip/*.O
XSB/packages/flip/cmd...
XSB/packages/flip/demos/*.O
XSB/packages/flip/demos/*.P
XSB/packages/flip/lib/*.O
XSB/packages/perlmatch/*.O
XSB/packages/perlmatch/cc/xsbpattern.H
XSB/packages/perlmatch/cc/xsbpattern.O
XSB/packages/perlmatch/cmd...
XSB/packages/slx/*.O
XSB/packages/slx/cmd...
XSB/site
XSB/syslib/ChangeLog
XSB/syslib/cmd...
XSB/syslib/domain.O
XSB/syslib/sysinitrc.O
XSB/tests
xsbtests/#*
xsbtests/*$
xsbtests/*.BAK
xsbtests/*.O
xsbtests/*.Z
xsbtests/*.bak
xsbtests/*.gz
xsbtests/*.o
xsbtests/*.rej
xsbtests/*.so
xsbtests/*_new*
xsbtests/*~
xsbtests/,*
xsbtests/.#a
xsbtests/CVS
xsbtests/_*
xsbtests/ai_tests/#*
xsbtests/ai_tests/*$
xsbtests/ai_tests/*.BAK
xsbtests/ai_tests/*.O
xsbtests/ai_tests/*.Z
xsbtests/ai_tests/*.bak
xsbtests/ai_tests/*.gz
xsbtests/ai_tests/*.o
xsbtests/ai_tests/*.rej
xsbtests/ai_tests/*.so
xsbtests/ai_tests/*_new*
xsbtests/ai_tests/*~
xsbtests/ai_tests/,*
xsbtests/ai_tests/.#a
xsbtests/ai_tests/CVS
xsbtests/ai_tests/_*
xsbtests/ai_tests/core
xsbtests/ai_tests/temp
xsbtests/basic_tests/#*
xsbtests/basic_tests/*$
xsbtests/basic_tests/*.BAK
xsbtests/basic_tests/*.O
xsbtests/basic_tests/*.Z
xsbtests/basic_tests/*.bak
xsbtests/basic_tests/*.gz
xsbtests/basic_tests/*.o
xsbtests/basic_tests/*.rej
xsbtests/basic_tests/*.so
xsbtests/basic_tests/*_new*
xsbtests/basic_tests/*~
xsbtests/basic_tests/,*
xsbtests/basic_tests/.#a
xsbtests/basic_tests/CVS
xsbtests/basic_tests/_*
xsbtests/basic_tests/core
xsbtests/basic_tests/temp
xsbtests/compiler_tests/#*
xsbtests/compiler_tests/*$
xsbtests/compiler_tests/*.BAK
xsbtests/compiler_tests/*.O
xsbtests/compiler_tests/*.Z
xsbtests/compiler_tests/*.bak
xsbtests/compiler_tests/*.gz
xsbtests/compiler_tests/*.o
xsbtests/compiler_tests/*.rej
xsbtests/compiler_tests/*.so
xsbtests/compiler_tests/*_new*
xsbtests/compiler_tests/*~
xsbtests/compiler_tests/,*
xsbtests/compiler_tests/.#a
xsbtests/compiler_tests/CVS
xsbtests/compiler_tests/_*
xsbtests/compiler_tests/core
xsbtests/compiler_tests/temp
xsbtests/core
xsbtests/delay_tests/#*
xsbtests/delay_tests/*$
xsbtests/delay_tests/*.BAK
xsbtests/delay_tests/*.O
xsbtests/delay_tests/*.Z
xsbtests/delay_tests/*.bak
xsbtests/delay_tests/*.gz
xsbtests/delay_tests/*.o
xsbtests/delay_tests/*.rej
xsbtests/delay_tests/*.so
xsbtests/delay_tests/*_new*
xsbtests/delay_tests/*~
xsbtests/delay_tests/,*
xsbtests/delay_tests/.#a
xsbtests/delay_tests/CVS
xsbtests/delay_tests/_*
xsbtests/delay_tests/core
xsbtests/delay_tests/temp
xsbtests/float_tests/#*
xsbtests/float_tests/*$
xsbtests/float_tests/*.BAK
xsbtests/float_tests/*.O
xsbtests/float_tests/*.Z
xsbtests/float_tests/*.bak
xsbtests/float_tests/*.gz
xsbtests/float_tests/*.o
xsbtests/float_tests/*.rej
xsbtests/float_tests/*.so
xsbtests/float_tests/*_new*
xsbtests/float_tests/*~
xsbtests/float_tests/,*
xsbtests/float_tests/.#a
xsbtests/float_tests/CVS
xsbtests/float_tests/_*
xsbtests/float_tests/core
xsbtests/float_tests/temp
xsbtests/lock.*
xsbtests/neg_tests/#*
xsbtests/neg_tests/*$
xsbtests/neg_tests/*.BAK
xsbtests/neg_tests/*.O
xsbtests/neg_tests/*.Z
xsbtests/neg_tests/*.bak
xsbtests/neg_tests/*.gz
xsbtests/neg_tests/*.o
xsbtests/neg_tests/*.rej
xsbtests/neg_tests/*.so
xsbtests/neg_tests/*_new*
xsbtests/neg_tests/*~
xsbtests/neg_tests/,*
xsbtests/neg_tests/.#a
xsbtests/neg_tests/CVS
xsbtests/neg_tests/_*
xsbtests/neg_tests/core
xsbtests/neg_tests/temp
xsbtests/prolog_tests/#*
xsbtests/prolog_tests/*$
xsbtests/prolog_tests/*.BAK
xsbtests/prolog_tests/*.O
xsbtests/prolog_tests/*.Z
xsbtests/prolog_tests/*.bak
xsbtests/prolog_tests/*.gz
xsbtests/prolog_tests/*.o
xsbtests/prolog_tests/*.rej
xsbtests/prolog_tests/*.so
xsbtests/prolog_tests/*_new*
xsbtests/prolog_tests/*~
xsbtests/prolog_tests/,*
xsbtests/prolog_tests/.#a
xsbtests/prolog_tests/CVS
xsbtests/prolog_tests/_*
xsbtests/prolog_tests/core
xsbtests/prolog_tests/temp
xsbtests/ptq/#*
xsbtests/ptq/*$
xsbtests/ptq/*.BAK
xsbtests/ptq/*.O
xsbtests/ptq/*.Z
xsbtests/ptq/*.bak
xsbtests/ptq/*.gz
xsbtests/ptq/*.o
xsbtests/ptq/*.rej
xsbtests/ptq/*.so
xsbtests/ptq/*_new*
xsbtests/ptq/*~
xsbtests/ptq/,*
xsbtests/ptq/.#a
xsbtests/ptq/CVS
xsbtests/ptq/_*
xsbtests/ptq/core
xsbtests/ptq/temp
xsbtests/retract_tests/#*
xsbtests/retract_tests/*$
xsbtests/retract_tests/*.BAK
xsbtests/retract_tests/*.O
xsbtests/retract_tests/*.Z
xsbtests/retract_tests/*.bak
xsbtests/retract_tests/*.gz
xsbtests/retract_tests/*.o
xsbtests/retract_tests/*.rej
xsbtests/retract_tests/*.so
xsbtests/retract_tests/*_new*
xsbtests/retract_tests/*~
xsbtests/retract_tests/,*
xsbtests/retract_tests/.#a
xsbtests/retract_tests/CVS
xsbtests/retract_tests/_*
xsbtests/retract_tests/core
xsbtests/retract_tests/temp
xsbtests/sem_tests/#*
xsbtests/sem_tests/*$
xsbtests/sem_tests/*.BAK
xsbtests/sem_tests/*.O
xsbtests/sem_tests/*.Z
xsbtests/sem_tests/*.bak
xsbtests/sem_tests/*.gz
xsbtests/sem_tests/*.o
xsbtests/sem_tests/*.rej
xsbtests/sem_tests/*.so
xsbtests/sem_tests/*_new*
xsbtests/sem_tests/*~
xsbtests/sem_tests/,*
xsbtests/sem_tests/.#a
xsbtests/sem_tests/CVS
xsbtests/sem_tests/_*
xsbtests/sem_tests/core
xsbtests/sem_tests/temp
xsbtests/sem_tests/tests/#*
xsbtests/sem_tests/tests/*$
xsbtests/sem_tests/tests/*.BAK
xsbtests/sem_tests/tests/*.O
xsbtests/sem_tests/tests/*.Z
xsbtests/sem_tests/tests/*.bak
xsbtests/sem_tests/tests/*.gz
xsbtests/sem_tests/tests/*.o
xsbtests/sem_tests/tests/*.rej
xsbtests/sem_tests/tests/*.so
xsbtests/sem_tests/tests/*_new*
xsbtests/sem_tests/tests/*~
xsbtests/sem_tests/tests/,*
xsbtests/sem_tests/tests/.#a
xsbtests/sem_tests/tests/CVS
xsbtests/sem_tests/tests/_*
xsbtests/sem_tests/tests/core
xsbtests/sem_tests/tests/temp
xsbtests/table_tests/#*
xsbtests/table_tests/*$
xsbtests/table_tests/*.BAK
xsbtests/table_tests/*.O
xsbtests/table_tests/*.Z
xsbtests/table_tests/*.bak
xsbtests/table_tests/*.gz
xsbtests/table_tests/*.o
xsbtests/table_tests/*.rej
xsbtests/table_tests/*.so
xsbtests/table_tests/*_new*
xsbtests/table_tests/*~
xsbtests/table_tests/,*
xsbtests/table_tests/.#a
xsbtests/table_tests/CVS
xsbtests/table_tests/_*
xsbtests/table_tests/core
xsbtests/table_tests/temp
xsbtests/temp
xsbtests/wfs_tests/#*
xsbtests/wfs_tests/*$
xsbtests/wfs_tests/*.BAK
xsbtests/wfs_tests/*.O
xsbtests/wfs_tests/*.Z
xsbtests/wfs_tests/*.bak
xsbtests/wfs_tests/*.gz
xsbtests/wfs_tests/*.o
xsbtests/wfs_tests/*.rej
xsbtests/wfs_tests/*.so
xsbtests/wfs_tests/*_new*
xsbtests/wfs_tests/*~
xsbtests/wfs_tests/,*
xsbtests/wfs_tests/.#a
xsbtests/wfs_tests/CVS
xsbtests/wfs_tests/_*
xsbtests/wfs_tests/core
xsbtests/wfs_tests/temp
