XSB/bin
XSB/build/*.cache
XSB/build/*.log
XSB/build/*.status
XSB/build/Installation*
XSB/build/makexsb
XSB/config
XSB/docs/techman/auto/*.el
XSB/docs/userman/auto/*.el
XSB/docs/userman/odbc_man/auto/*.el
XSB/emu/Makefile
XSB/emu/configs/config.h
XSB/emu/debugs/debug.h
XSB/emu/orastuff.c
XSB/etc/config.msg
XSB/lib/*.O
XSB/packages/*.O
XSB/packages/flip/*.O
XSB/packages/flip/demos/*.O
XSB/packages/flip/demos/*.P
XSB/packages/flip/lib/*.O
XSB/packages/perlmatch/*.O
XSB/packages/perlmatch/cc/xsbpattern.H
XSB/packages/slx/*.O
XSB/site
XSB/syslib/sysinitrc.O
xsbtests/#*
xsbtests/*$
xsbtests/*.BAK
xsbtests/*.Z
xsbtests/*.bak
xsbtests/*.gz
xsbtests/*.o
xsbtests/*.rej
xsbtests/*.so
xsbtests/*~
xsbtests/,*
xsbtests/.#a
xsbtests/_*
xsbtests/ai_tests/#*
xsbtests/ai_tests/*$
xsbtests/ai_tests/*.BAK
xsbtests/ai_tests/*.Z
xsbtests/ai_tests/*.bak
xsbtests/ai_tests/*.gz
xsbtests/ai_tests/*.o
xsbtests/ai_tests/*.rej
xsbtests/ai_tests/*.so
xsbtests/ai_tests/*~
xsbtests/ai_tests/,*
xsbtests/ai_tests/.#a
xsbtests/ai_tests/_*
xsbtests/ai_tests/core
xsbtests/basic_tests/#*
xsbtests/basic_tests/*$
xsbtests/basic_tests/*.BAK
xsbtests/basic_tests/*.Z
xsbtests/basic_tests/*.bak
xsbtests/basic_tests/*.gz
xsbtests/basic_tests/*.o
xsbtests/basic_tests/*.rej
xsbtests/basic_tests/*.so
xsbtests/basic_tests/*~
xsbtests/basic_tests/,*
xsbtests/basic_tests/.#a
xsbtests/basic_tests/_*
xsbtests/basic_tests/core
xsbtests/compiler_tests/#*
xsbtests/compiler_tests/*$
xsbtests/compiler_tests/*.BAK
xsbtests/compiler_tests/*.Z
xsbtests/compiler_tests/*.bak
xsbtests/compiler_tests/*.gz
xsbtests/compiler_tests/*.o
xsbtests/compiler_tests/*.rej
xsbtests/compiler_tests/*.so
xsbtests/compiler_tests/*~
xsbtests/compiler_tests/,*
xsbtests/compiler_tests/.#a
xsbtests/compiler_tests/_*
xsbtests/compiler_tests/core
xsbtests/core
xsbtests/delay_tests/#*
xsbtests/delay_tests/*$
xsbtests/delay_tests/*.BAK
xsbtests/delay_tests/*.Z
xsbtests/delay_tests/*.bak
xsbtests/delay_tests/*.gz
xsbtests/delay_tests/*.o
xsbtests/delay_tests/*.rej
xsbtests/delay_tests/*.so
xsbtests/delay_tests/*~
xsbtests/delay_tests/,*
xsbtests/delay_tests/.#a
xsbtests/delay_tests/_*
xsbtests/delay_tests/core
xsbtests/float_tests/#*
xsbtests/float_tests/*$
xsbtests/float_tests/*.BAK
xsbtests/float_tests/*.Z
xsbtests/float_tests/*.bak
xsbtests/float_tests/*.gz
xsbtests/float_tests/*.o
xsbtests/float_tests/*.rej
xsbtests/float_tests/*.so
xsbtests/float_tests/*~
xsbtests/float_tests/,*
xsbtests/float_tests/.#a
xsbtests/float_tests/_*
xsbtests/float_tests/core
xsbtests/neg_tests/#*
xsbtests/neg_tests/*$
xsbtests/neg_tests/*.BAK
xsbtests/neg_tests/*.Z
xsbtests/neg_tests/*.bak
xsbtests/neg_tests/*.gz
xsbtests/neg_tests/*.o
xsbtests/neg_tests/*.rej
xsbtests/neg_tests/*.so
xsbtests/neg_tests/*~
xsbtests/neg_tests/,*
xsbtests/neg_tests/.#a
xsbtests/neg_tests/_*
xsbtests/neg_tests/core
xsbtests/prolog_tests/#*
xsbtests/prolog_tests/*$
xsbtests/prolog_tests/*.BAK
xsbtests/prolog_tests/*.Z
xsbtests/prolog_tests/*.bak
xsbtests/prolog_tests/*.gz
xsbtests/prolog_tests/*.o
xsbtests/prolog_tests/*.rej
xsbtests/prolog_tests/*.so
xsbtests/prolog_tests/*~
xsbtests/prolog_tests/,*
xsbtests/prolog_tests/.#a
xsbtests/prolog_tests/_*
xsbtests/prolog_tests/core
xsbtests/ptq/#*
xsbtests/ptq/*$
xsbtests/ptq/*.BAK
xsbtests/ptq/*.Z
xsbtests/ptq/*.bak
xsbtests/ptq/*.gz
xsbtests/ptq/*.o
xsbtests/ptq/*.rej
xsbtests/ptq/*.so
xsbtests/ptq/*~
xsbtests/ptq/,*
xsbtests/ptq/.#a
xsbtests/ptq/_*
xsbtests/ptq/core
xsbtests/retract_tests/#*
xsbtests/retract_tests/*$
xsbtests/retract_tests/*.BAK
xsbtests/retract_tests/*.Z
xsbtests/retract_tests/*.bak
xsbtests/retract_tests/*.gz
xsbtests/retract_tests/*.o
xsbtests/retract_tests/*.rej
xsbtests/retract_tests/*.so
xsbtests/retract_tests/*~
xsbtests/retract_tests/,*
xsbtests/retract_tests/.#a
xsbtests/retract_tests/_*
xsbtests/retract_tests/core
xsbtests/sem_tests/#*
xsbtests/sem_tests/*$
xsbtests/sem_tests/*.BAK
xsbtests/sem_tests/*.Z
xsbtests/sem_tests/*.bak
xsbtests/sem_tests/*.gz
xsbtests/sem_tests/*.o
xsbtests/sem_tests/*.rej
xsbtests/sem_tests/*.so
xsbtests/sem_tests/*~
xsbtests/sem_tests/,*
xsbtests/sem_tests/.#a
xsbtests/sem_tests/CVS
xsbtests/sem_tests/_*
xsbtests/sem_tests/core
xsbtests/sem_tests/sem_parse.O.sv
xsbtests/table_tests/#*
xsbtests/table_tests/*$
xsbtests/table_tests/*.BAK
xsbtests/table_tests/*.Z
xsbtests/table_tests/*.bak
xsbtests/table_tests/*.gz
xsbtests/table_tests/*.o
xsbtests/table_tests/*.rej
xsbtests/table_tests/*.so
xsbtests/table_tests/*~
xsbtests/table_tests/,*
xsbtests/table_tests/.#a
xsbtests/table_tests/_*
xsbtests/table_tests/core
xsbtests/wfs_tests/#*
xsbtests/wfs_tests/*$
xsbtests/wfs_tests/*.BAK
xsbtests/wfs_tests/*.Z
xsbtests/wfs_tests/*.bak
xsbtests/wfs_tests/*.gz
xsbtests/wfs_tests/*.o
xsbtests/wfs_tests/*.rej
xsbtests/wfs_tests/*.so
xsbtests/wfs_tests/*~
xsbtests/wfs_tests/,*
xsbtests/wfs_tests/.#a
xsbtests/wfs_tests/_*
xsbtests/wfs_tests/core
